.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
  /* border: 10px solid red; */
}
.checkout__signup__input{
  border-radius: 0 !important;
}
.checkout__app__header{
  display: flex;
  padding: 10px;
}
.checkout__signup__inner__wrapper{
  width: 60%;
  padding: 20px;
}
.checkout__signup__wrapper{
  width: 100%;
  padding: 0rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.checkout__signup__div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
/* border: 1px solid red; */
}
.checkout__login__signup__btn{
  padding: 10px;
  background-color: navy;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
}
.checkout__app-logo{
  width: 30px !important;
  height: 30px !important;
}

.signup-image {
  background-image: url('/public/wallet.jpeg');
  background-size: cover;
  background-position: center;
  width: 30% !important;
  height: 100%;
}

.signup-form {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  width: 60% !important;
  height: 90%;
}

.checkout__btnsignup{
  width: 100%;
  font-weight: bold;
  border-radius: 0 !important;
  background-color: navy !important;
}
.checkout__btnsignup__google{
  width: 100%;
  height: 5%;
  background: url('/public/google.png') no-repeat left center;
  background-size: 10%;
  color: #ccc;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 0 !important;
  background-color: rgb(57, 57, 176) !important;
}
.checkout__btnsignup__google:hover{
  background-color: red !important;
}
@media screen and (min-width: 768px) {
  .signup-container {
    flex-direction: row;
  }

  .signup-image {
    height: 100%;
    max-width: none;
    flex: 1;
  }

  .signup-form {
    margin: 20px;
    flex: 1;
  }
}

h2 {
  margin: 0 0 20px;
}

.form-group {
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-top: 5px;
  box-sizing: border-box;
}
