.checkout__card__container{
    background-color: rgb(206, 198, 198);
    /* padding: 10px 5px; */
}
.checkout__rightsidebar__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    /* border: 1px solid red; */
    width: 15rem;
    padding: 10px 30px;
    border-radius: 10px;background: rgb(162,70,136);
	animation: 15s ease infinite;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    /* background: linear-gradient(180deg, rgba(162,70,136,1) 4%, rgba(65,72,185,0.9374124649859944) 81%); */
}
.checkout__rightsidebar__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.checkout__card__span{
    margin-right: 1rem;
}
.checkout__visacard{
    width: 60px;
    height: 60px;
}
.checkout__card__details{
    margin-top: 1.5rem;
    font-size: 10px;
    color: greenyellow;
    font-weight: bold;
}
.checkout__card__company{
    font-weight: bold;
    font-size: 16px;
}
.checkout__rightsidebar__yourcard{
    font-weight: bold;
    font-size: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .checkout__rightsidebar__container{
        width: 90%;
        padding: 0 10px;
    }
    .checkout__card__container{
        width: 100%;
    }
    .checkout__card__company{
        font-size: 10px;
    }
    .checkout__card__span{
        font-size: 10px;
        font-weight: bold;
    }
    ::placeholder{
        font-size: 8px;
    }
}


@media screen and (min-width: 1025px) and (max-width: 1350px){
    .checkout__rightsidebar__container{
        width: 90%;
        padding: 0 10px;
    }
    .checkout__card__container{
        width: 100%;
    }
}