.checkout__main__container{
    margin-left: 16%;
    margin-right: 23%;
    width: 70%;
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: 5px solid red; */
}

@media screen and (max-width: 767px){
    .checkout__main__container{
        width: 100% !important;
        margin: 0;
        padding: 20px !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    /* .checkout__main__container{
        width: 100% !important;
        margin: 0;
        padding: 20px !important;
    } */
}