.checkout__rightsidebar__overall__container{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0px 20px 30px;
    background: rgb(162,70,136);
    background: linear-gradient(180deg, rgba(162,70,136,1) 4%, rgba(65,72,185,0.9374124649859944) 81%);
    position: fixed;
    right: 0px;
}
.checkout__hide__rightsidebar{
    display: none;
}

@media screen and (max-width: 767px) {
    .checkout__rightsidebar__overall__container{
        display: none;
    }
    .checkout__rightsidebar__overall__container__show{
        display: block;
        width: 250px;
    }
    .checkout__hide__rightsidebar{
        display: block;
        position: absolute;
        font-size: 24px;
        font-weight: bold;
        color: navy;
        border: 1px solid navy;
        padding: 5px;
        border-radius: 5px;
        background-color: #fff;
    }
}
