.checkout__sidebar__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
    padding: 2% 0;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15%;
    overflow-y: scroll;
    overflow-x: scroll;
}
.checkout__sidebar__content__container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    /* border: 1px solid red; */
    width: 100%;
}
.checkout__sidebar__logo__wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 0rem;
    padding-left: 10px;
    /* border: 1px solid red; */
}
.logoutModal{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
}
.logoutModal__child{
    margin: 0 1rem;
}
.checkout__logo__image{
    width: 80px;
    height: 80px;
    margin-right: 0.2rem;
}
.checkout__sidebar__logo{
    display: inline-block;
    font-size: 24px;
    padding-top: 20px;
    font-weight: bold;
}
.checkout__sidebar__features{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 10px 0px;
    padding-left: 2rem;
    border-left: 3px solid rgb(36, 55, 7);
    cursor: pointer;
    color: rgb(37, 36, 36);
    font-weight: bold;
}
.checkout__sidebar__features__locked{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 10px 0px;
    padding-left: 2rem;
    cursor: pointer;
    color: rgb(164, 157, 157);
    font-weight: bold;
}
.checkout__sidebar__feature__name{
    margin-left: 0.5rem;
}
.checkout__features{
    /* border: 1px solid red; */
}
.checkout__sidebar__general{
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
    /* border: 1px solid red; */
}
.checkout__sidebar__tools{
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
}
hr{
    margin: 1.5rem 0;
    width: 80%;
}
.checkout__sidebar__logout{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 80%;
    align-items: center;
    /* border: 1px solid red; */
    padding-left: 0rem;
}
.checkout__sidebar__logout__text{
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .checkout__sidebar__master__container__hide{
        display: none;
    }
    .checkout__sidebar__master__container__show{
        display: block;
        position: absolute;
        width: 50%;
    }
    .checkout__sidebar__container{
        width: 250px;
        background-color: rgb(4, 4, 69);
    }
    .checkout__sidebar__tools, .checkout__sidebar__logout__text, .checkout__sidebar__general, .checkout__sidebar__logo, .logout__icon{
        color: #fff;
    }
    .checkout__logo__image{
        width: 30px;
        height: 30px;
        padding-top: 3rem;
        margin-right: 0.2rem;
    }
    .checkout__sidebar__logo{
        font-size: 16px !important;
        padding-top: 3.5rem !important;
    }
    .logout__modal__text{
        font-size: 12px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    
    .checkout__logo__image{
        width: 30px;
        height: 30px;
        padding-top: 3rem;
        margin-right: 0.2rem;
    }
    .checkout__sidebar__logo{
        font-size: 14px;
        padding-top: 3.5rem;
    }

    .checkout__sidebar__general{
        margin-top: 2rem;
        margin-bottom: 3rem;
        font-size: 18px;
        font-weight: bold;
        padding-left: 10px;
        /* border: 1px solid red; */
    }
    .checkout__sidebar__tools{
        font-size: 18px;
    }
    .logout__modal__text{
    }
    .checkout__sidebar__feature__name{
        font-size: 10px;
    }
    .checkout__sidebar__features, .checkout__sidebar__features__locked {
        padding-left: 1rem !important;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1350px) {
    
    
    .checkout__logo__image{
        width: 50px;
        height: 50px;
        padding-top: 3rem;
        margin-right: 0.2rem;
    }
    .checkout__sidebar__logo{
        font-size: 20px;
        padding-top: 4rem;
    }

    .checkout__sidebar__general{
        margin-top: 2rem;
        margin-bottom: 3rem;
        font-size: 18px;
        font-weight: bold;
        padding-left: 10px;
        /* border: 1px solid red; */
    }
    .checkout__sidebar__tools{
        font-size: 18px;
    }
    .logout__modal__text{
    }
    .checkout__sidebar__feature__name{
        font-size: 10px;
    }
    .checkout__sidebar__features, .checkout__sidebar__features__locked {
        padding-left: 1rem !important;
    }
}