.checkout__main__stats__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    /* border: 1px solid red; */
    background-color: aliceblue;
    padding: 0px 20px;
    margin: 20px;
    border-radius: 10px;
}
.checkout__main__statistics__increase{
    /* border: 1px solid red; */
}
.checkout__statistics__wrapper{
    display: flex;
    flex-direction: row;
    
}