.checkout__withdrawal__container{
    width: 80%;
    padding: 5px 20px;
    
}
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkout__withdraw{
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 0;
}
.checkout__withdraw__div{
    display: flex;
    margin: 10px 0;
}
.checkout__withdraw__amount{
    width: 60%;
    padding: 10px;
    border-radius: 0;
}
.checkout__withdraw__select{
    width: 40%;
    border-radius: 0;
    margin-top: 5px;
    height: 40px;
}
.checkout__withdraw__button{
    width: 100%;
    padding: 10px;
}
.checkout__withdraw__text{
    font-weight: bold;
    font-size: 20px;
}