.checkout__dashboard__container__app{
  width: 100%;
  height: 100%;
  
}
.checkout__btn__click{
  outline: 0;
  border: none;
  background-color: navy;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}